<table class="table">
  <thead class="thead-primary">
    <tr>
      <th scope="col"></th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">FatherName</th>
      <th scope="col">HouseNo</th>
      <th scope="col">Street</th>
      <th scope="col">Location</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
      <th scope="col">Pincode</th>
      <th scope="col">Delete</th>



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of user.info">
      <th scope="row"></th>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.password}}</td>
      <td>{{item.Age}}</td>
      <td>{{item.Sex}}</td>
      <td>{{item.fatherName}}</td>
      <td>{{item.addressid.houseno}}</td>
      <td>{{item.addressid.street}}</td>
      <td>{{item.addressid.location}}</td>
      <td>{{item.addressid.city}}</td>
      <td>{{item.addressid.state}}</td>
      <td>{{item.addressid.country}}</td>
      <td>{{item.addressid.pincode}}</td>
      <td ></td


    </tr>
  </tbody>
</table>
<!----{
  "_id": "5ca724400122450a433368a6",
  "firstName": "shubham",
  "lastName": "mehta",
  "email": "/shubahm.mehta@gmail.com/",
  "password": "123456789",
  "Age": 20,
  "Sex": "Male,Female",
  "fatherName": "Baldev Raj",
  "time": "6676351654599589889",
  "addressid": {
      "_id": "5ca73c2d0122450a433368bf",
      "houseno": "122",
      "street": "hjffhfjhj",
      "location": "fghhfhgf",
      "city": "fgffh",
      "state": "hjhjfjf",
      "country": "ghjhfjfhj",
      "pincode": 125111
  }
}, -->

